@font-face {
  font-family: "gothamlight";
  src: url("/fonts/gotham-font/gotham_light_regular-webfont.woff2")
      format("woff2"),
    url("/fonts/gotham-font/gotham_light_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("/fonts/Gotham-Font/gotham-bold-webfont.woff2") format("woff2"),
    url("/fonts/Gotham-Font/gotham_light_regular-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Marguerite1";
  src: url("/fonts/marguerite-font/Marguerite1.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #171b26;
}

img {
  width: 100%;
  height: auto;
  z-index: 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

form {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-width: auto;
  background-color: #171b26;
  top: 0;
  width: 100%;
}

ul {
  list-style: none;
}

#nav-title {
  display: flex;
  justify-items: left;
}

#only-title {
  font-family: "gotham", sans-serif;
  font-weight: 400;
  font-size: 4em;
  padding: 25px 0 0 0;
  color: #42d9c8;
}

#stonks-title {
  font-family: "marguerite1", sans-serif;
  padding: 32px 0 0 10px;
  font-weight: 400;
  font-size: 4em;
  color: #931621;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links a {
  color: #931621;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #42d9c8;
  margin: 5px;
}

.wrapper {
  display: flex;
  min-width: 100px;
  max-width: 1000px;
  justify-content: center;
}

#search {
  display: flex;
  /* text-align: center; */
  color: #eb4a4c;
  size: 40px;
  border: 1px solid #9f9f92;
  border-radius: 50px;
  height: 3vh;
  width: 30vw;
  padding: 2px 2px 2px 20px;
  outline: 0;
  background-color: #ababab;
}

::placeholder {
  color: #931621;
  opacity: 1;
  font-weight: 600;
}

#search-button {
  background: none;
  color: #1ba59a;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

main {
  overflow-y: hidden;
}

main section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-top: 8vh;
}

#andrew {
  display: flex;
  justify-content: center;
}

.stonk-results {
  display: flex;
  text-align: center;
  justify-content: center;
}

.symbol-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  color: #1ba59a;
}

.open-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #1ba59a;
}

.close-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #1ba59a;
}

.high-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #1ba565;
}

.low-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #880b15bf;
}

.volume-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #1ba59a;
}

#chart-container {
  position: relative;
  margin-left: 31vw;
  margin-top: -8vh;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  html {
    max-height: 100vh;
  }

  img {
    width: 100%;
    height: 30vh;
    z-index: 0;
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
  }

  .stonk-results {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 8vh;
  }

  #chart-container {
    /* position: absolute; */
    margin-left: 1vw;
  }

  #chart {
    height: 50vh;
    width: 100vw;
  }

  #search {
    display: flex;
    color: #eb4a4c;
    size: 40px;
    border: 1px solid #9f9f92;
    border-radius: 50px;
    height: 3vh;
    width: 60vw;
    margin-top: 10vh;
    padding: 2px 2px 2px 20px;
    outline: 0;
    background-color: #ababab;
  }
  #search-button {
    background: none;
    color: #1ba59a;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-top: 9.7vh;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .symbol-style {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 8vw;
    color: #1ba59a;
  }

  .open-style {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: #1ba59a;
  }

  .close-style {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: #1ba59a;
  }

  .high-style {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: #1ba565;
  }

  .low-style {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: #880b15bf;
  }

  .volume-style {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: #1ba59a;
  }

  .nav-links {
    z-index: 20;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0px;
    height: 92vh;
    width: 35%;
    top: 8vh;
    background-color: #28464b;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in;
    font-weight: 600;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
